<html data-ng-app="analytics">
<head>
	<title>Solar Event Database Analytics</title>
	<link rel="icon" type="image/png" href="/static/img/favicon.png" />
	<link rel='stylesheet' href='/static/third/bootstrap336/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/third/ngProgress/ngProgress.css'>

    <script src="/static/third/jquery-2.2.4.min.js"></script>
    <script src="/static/third/bootstrap336/js/bootstrap.min.js"></script>
	<script src="/static/third/angular161/angular.js"></script>
	<script src="/static/third/uibootstrap/ui-bootstrap-tpls-2.3.1.min.js"></script>

	<script src="/static/third/angular161/angular-route.min.js"></script>
	<script src="/static/third/angular161/angular-resource.min.js"></script>
	<script src="/static/third/angular161/angular-animate.js">  </script>


	<script src="/static/third/chartjs/Chart.bundle.min.js"></script>
	<script src="/static/third/chartjs/angular-chart.min.js"></script>

	<script src="/static/third/angular161/angular-sanitize.min.js"></script>
	<script src="/static/third/ngProgress/ngProgress.min.js"></script>

	<script src='/static/js/sharedModule.js'></script>
	<script src='/static/js/analyticsModule.js'></script>

</head>
<body style="padding-top: 80px;" ng-controller="AnalyticsCtrl">

<!-- HEADER AND NAVBAR -->
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">ISD</a>
			</div>

			<ul class="nav navbar-nav navbar-left">
				<li><a href="/analytics/general"><i class="fa fa-home"></i>General</a></li>
				<li><a href="/analytics/eventtype"><i class="fa fa-shield"></i>Event Type</a></li>
				<li><a href="/analytics/event"><i class="fa fa-shield"></i>Event</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container">
	<div ng-view></div>
</div>

<!--Angular Controllers-->
<script src='/static/js/controllers/analytics/analytics.js'></script>
<script src='/static/js/controllers/analytics/EventController.js'></script>
<script src='/static/js/controllers/analytics/GeneralController.js'></script>
<script src='/static/js/controllers/analytics/EventTypeController.js'></script>
<script src="/static/js/services/RESTService.js"> </script>

</body>
</html>