<html data-ng-app="app" data-ng-controller="AppCtrl">
<head>
	<title>Solar Event Database</title>
	<link rel="icon" type="image/png" href="/static/img/favicon.png" />
	<link rel='stylesheet' href='/static/third/bootstrap336/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/third/ngProgress/ngProgress.css'>
	<link rel='stylesheet' href='/static/css/main.css'>
	<link rel='stylesheet' href='/static/third/ngToast/ngToast.min.css'>

    <script src="/static/third/jquery-2.2.4.min.js"></script>
    <script src="/static/third/bootstrap336/js/bootstrap.min.js"></script>
    <script src="/static/third/easel08/easeljs-0.8.2.min.js"></script>
	<script src="/static/third/angular161/angular.js"></script>
	<script src="/static/third/uibootstrap/ui-bootstrap-tpls-2.3.1.min.js"></script>

	<script src="/static/third/angular161/angular-route.min.js"></script>
	<script src="/static/third/angular161/angular-resource.min.js"></script>
	<script src="/static/third/angular161/angular-animate.js">  </script>

	<script src="/static/third/angular161/angular-sanitize.min.js"></script>
	<script src="/static/third/ngProgress/ngProgress.min.js"></script>
	<script src="/static/third/ngToast/ngToast.min.js"></script>

	<script src='/static/js/polygonDrawer.js'> </script>


	<script src='/static/js/appModule.js'></script>
	<!--Angular Controllers-->
	<script src='/static/js/main.js'></script>

	<!--Angular Services-->
	<script src="/static/js/canvasService.js">  </script>
	<script src="/static/js/canvasZoomHandler.js">  </script>
	<script src="/static/js/RESTService.js"> </script>
	<script src="/static/js/dateService.js">  </script>

	<!--Angular Factories-->
	<script src="/static/js/geomUtils.js">  </script>
	<!--Angular Directives-->
	<script src='/static/js/markerWindowDirective.js'> </script>



</head>
<body>

<div class="container-fluid">
	<div class="row canvas-area" id="canvasContainer">
		<toast></toast>
			<div class="col-md-12 fill">

					<canvas id="mainCanvas">

					</canvas>
			</div>
	</div>
	<ng-include src="'/static/html/left-panel.html'"></ng-include>
	<div marker-window on-generate-video-clicked="onGenerateVideoClicked()" on-close-popup-window="onClosePopupWindow()" selected-event="popupEvent" ng-hide="shouldHidePopupWindow" id="markerWindow"></div>
</div>
</body>
</html>