<html data-ng-app="app" data-ng-controller="AppCtrl">
<head>
	<title>Solar Event Database</title>
	<link rel="icon" type="image/png" href="/static/img/favicon.png" />
	<link rel='stylesheet' href='/static/third/bootstrap336/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/third/bootstrap336/css/bootstrap-theme.min.css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
	<link rel='stylesheet' href='/static/third/ngProgress/ngProgress.css'>
	<link rel='stylesheet' href='/static/css/main.css'>
	<link rel='stylesheet' href='/static/third/ngToast/ngToast.min.css'>

    <script src="/static/third/jquery-2.2.4.min.js"></script>
    <script src="/static/third/bootstrap336/js/bootstrap.min.js"></script>
    <script src="/static/third/easel08/easeljs-0.8.2.min.js"></script>
	<script src="/static/third/angular161/angular.js"></script>
	<script src="/static/third/uibootstrap/ui-bootstrap-tpls-2.3.1.min.js"></script>

	<script src="/static/third/angular161/angular-route.min.js"></script>
	<script src="/static/third/angular161/angular-resource.min.js"></script>
	<script src="/static/third/angular161/angular-animate.js">  </script>

	<script src="/static/third/angular161/angular-sanitize.min.js"></script>
	<script src="/static/third/ngProgress/ngProgress.min.js"></script>
	<script src="/static/third/ngToast/ngToast.min.js"></script>

	<script src='/static/js/polygonDrawer.js'> </script>


	<script src='/static/js/appModule.js'></script>
	<!--Angular Controllers-->
	<script src='/static/js/main.js'></script>

	<!--Angular Services-->
	<script src="/static/js/canvasService.js">  </script>
	<script src="/static/js/canvasZoomHandler.js">  </script>
	<script src="/static/js/RESTService.js"> </script>
	<script src="/static/js/dateService.js">  </script>

	<!--Angular Factories-->
	<script src="/static/js/geomUtils.js">  </script>
	<!--Angular Directives-->
	<script src='/static/js/markerWindowDirective.js'> </script>



</head>
<body>

<div class="container-fluid">
	<div class="row well well-sm">
		<div style="text-align:center;">

		</div>
		<toast></toast>
	</div>
	<div class="row">

		<div class="col-md-3 panel" style="background-color:white;">
			<div class="col-md-12">

				<div style="text-align:center;">
<!--	<img src="/static/img/DM_lab.png" alt="Data Mining Lab GSU" style="width:80px;height:40px;">-->
					<h4><b>

						<span><a class="fa fa-cog" aria-hidden="true" href="" data-hasqtip="2" oldtitle="Solar Event Database with Interpolation and Trajectory" title=""></a>
							<a class="logo-text" href="" data-hasqtip="3" oldtitle="Solar Event Database with Interpolation and Trajectory" title="" aria-describedby="qtip-3">SEDIT</a></span></b>
		</h4>
				</div>
				<br>
				<form ng-submit="onDateChanged()">
					<div id="date-group" class="form-group">
						<b>Date</b><br/>
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="searchForm.date"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						</div>
					</div>

					<div id="time-group" class="form-group">
						<b>Time</b><br/>

						<!--<p>From timePickerApp n TimepickerDemoCtrl, mstep: {{mstep}}</p> -->

						<div uib-timepicker ng-model="searchForm.time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
						<!--<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>
						<uib-timepicker ng-model="searchForm.time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
						<!--<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre> -->
					</div>

					<div class="form-group">
						<select class="form-control"
								ng-change="wavelengthChanged()"
								ng-options="option.name for option in wavelengthInfo.availableOptions track by option.id"
								ng-model="wavelengthInfo.selectedOption"></select>
					</div>

					<button type="submit" class="btn btn-success btn-lg">
						<span class="glyphicon glyphicon-flash"></span> Search!
					</button>
				</form>
				<br><br><br>
				<form>
				<div id="event-group" class="form-group">

					<b>Events</b>
					<div  ng-repeat="event in eventNames">
						<label class="checkbox-inline">
							<input
									type="checkbox"
									name="Events"
									value="{{event.code}}"
									ng-checked="true"
									ng-click="changeVisibleEventTypes(event)">{{event.name}}

						</label>
					</div>
				</div>
				</form>
			</div>
		</div>


		<div class="col-md-9 canvas-area">
			<div id="canvasContainer" class="fill">
				<canvas id="testCanvas" style="padding-left:0;padding-right:0;margin-left: auto; margin-right: auto; display: block;">

				</canvas>
			</div>

				<div marker-window on-generate-video-clicked="onGenerateVideoClicked()" selected-event="popupEvent" id="markerWindow"></div>
		</div>
		<br>
		<br>
		<p class="text-muted credit text-center">Developed by <a href="http://dmlab.cs.gsu.edu">DMLAB &copy; 2016</a>.</p>

	</div>
</div>

</div>
<!--<div id="footer">-->
	<!--<div class="container">-->
		<!--<p class="text-muted credit">Developed by <a href="http://dmlab.cs.gsu.edu">DMLAB &copy; 2016</a>.</p>-->
	<!--</div>-->

<!--</div>-->


</body>
</html>