<html data-ng-app="app" data-ng-controller="AppCtrl">
<head>
	<title>Solar Event Database</title>
	<link rel='stylesheet' href='/static/third/bootstrap336/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/static/third/bootstrap336/css/bootstrap-theme.min.css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
	<link rel='stylesheet' href='/static/third/ngProgress/ngProgress.css'>
	<link rel='stylesheet' href='/static/css/main.css'>

	<script src="/static/third/easel08/easeljs-0.8.2.min.js"></script>
	<script src="/static/third/angular150/angular.js"></script>

	<script src="/static/third/angular150/angular-route.min.js"></script>
	<script src="/static/third/angular150/angular-resource.min.js"></script>
	<script src="/static/third/angular150/angular-animate.js">  </script>

	<script src="/static/third/bootstrap336/js/ui-bootstrap-tpls-1.2.4.min.js"></script>

	<script src="/static/third/ngProgress/ngProgress.min.js"></script>

	<script src='/static/js/appModule.js'></script>
	<script src="/static/js/RESTService.js">  </script>
	<script src="/static/js/canvasService.js">  </script>
	<script src="/static/js/dateService.js">  </script>

	<script src='/static/js/main.js'></script>

</head>
<body style="background-color:black;">
<div class="container-fluid">
	<div class="row">
		<div class="well" style="text-align:center;">
			<h3><b>Solar Event Database with Interpolation and Trajectory (SEDIT)</b></h3>
		</div>
	</div>

	<div class="row">

		<div class="col-md-3 fill" style="background-color:white;">

			<form ng-submit="searchEvents()">
				<div id="date-group" class="form-group">
					<b>Date</b><br/>
					<div class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="searchForm.date"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>

				<div id="time-group" class="form-group">
					<b>Time</b><br/>

					<!--<p>From timePickerApp n TimepickerDemoCtrl, mstep: {{mstep}}</p> -->

					<uib-timepicker ng-model="searchForm.time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
				</div>

				<div class="form-group">
					<select class="form-control"
							ng-change="wavelengthChanged()"
							ng-options="option.name for option in wavelengthInfo.availableOptions track by option.id"
							ng-model="wavelengthInfo.selectedOption"></select>
				</div>

				<button type="submit" class="btn btn-success btn-lg">
					<span class="glyphicon glyphicon-flash"></span> Search!
				</button>
			</form>
		</div>


		<div class="col-md-6">
			<div data-ng-view></div>
		</div>
		<div class="col-md-3 fill" style="background-color:white;">
			<div id="event-group" class="form-group">

				<b>Events</b>
				<div  ng-repeat="event in eventNames">
					<label class="checkbox-inline">
						<input
								type="checkbox"
								name="Events"
								value="{{event.code}}"
								ng-checked="selection.indexOf(event) > -1"
								ng-click="toggleSelection(event)">{{event.name}}

					</label>
				</div>
			</div>
		</div>

	</div>

</div>

<footer class="footer">
	<div class="container">
		<p class="text-muted">by DMLAB GSU</p>
	</div>
</footer>


<script>

	//angular.bootstrap(document.getElementById("IDmyApp"),['myApp']);
	//angular.bootstrap(document.getElementById("IDdatePickerApp"), ['datePickerApp']);
	//angular.bootstrap(document.getElementById("IDtimePickerApp"),['timePickerApp']);
	//angular.bootstrap(document.getElementById("IDcheckBoxApp"),['checkBoxApp']);
</script>

</body>
</html>
