.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.element {
   .center-block();
}

.fill {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.container-fluid {
    overflow: hidden;
}