html,
body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:black;
    /* The html and body elements cannot have any padding or margin. */
}

.left-panel {
    /*background-color:rgba(187, 194, 196, 0.8);*/
    background-color:rgba(110, 119, 122, 0.6);
    margin-top:auto;
    color: #ffffff;
    position: absolute;
    left: 2%;
    top: 2%;
    padding: 10px;
    width: 25%;
}


#mainCanvas {
    padding-left:0;
    padding-right:0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fill {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 50px;
}
#footer {
    margin-top: -15px;
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.popup {
    background-color: rgba(110, 119, 122, 0.6);
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 12px black;
    color: white;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    left:2%;
    width:300px;

}

.close-link {
    text-align: right;
    font-size: 20px;
    position: absolute;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-backdrop {
    background: none;
}

.modal-title {
    font-size: 1em;
}

.modal-title{
    white-space:normal !important;
    word-wrap:break-word;
}

/*Popup windows relative location*/
#canvasContainer {
    position: relative;
}

#infoWindow {
    position: absolute;
    right: 25%;
    top: 2%;
}

#trajectoryWindow {
    position: absolute;
    right: 25%;
    top: 50%;
    bottom: 10%;
}

.trajectory-window {
    background: black;
}

#footer {
    position: absolute;
}

.canvas-area {
    height:95%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.popup-element {
    margin-top: 10px;
}