<div class="row" id="IDdatePickerApp" ng-app="app" ng-controller="DatepickerDemoCtrl">
		<b>Date</b><br/> 
		<p class="input-group">
		<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
		</p>
		 <pre>Selected date is:<br/> <em>{{dt | date:'fullDate' }}</em></pre>
		</div>
<script src='/static/js/main.js'></script>


