<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                Wavelength:
                <select class="form-control"
                        ng-change="onWavelengthChanged()"
                        ng-options="option.name for option in wavelengthInfo.availableOptions track by option.id"
                        ng-model="wavelengthInfo.selectedOption"></select>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="parameter-type-div" class="form-group">
                Parameter:
                <select class="form-control"
                        ng-change="onParameterTypeChanged()"
                        ng-options="option.name for option in parameterInfo.availableOptions track by option.id"
                        ng-model="parameterInfo.selectedOption"></select>
            </div>
        </div>
        <div class="col-sm-6">
            Event ID:
            <form ng-submit="searchEventStats()">
                <div class="input-group">
                    <input ng-model="eventID" type="text" class="form-control" placeholder="Search with Event ID">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" type="button">Search!</input>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-8">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>

        <div class="col-sm-4">
            <div id="chart-02"></div>
            <br>
        </div>

    </div>


    <div class="row">

        <div class="col-sm-4">
            <div id="chart-03"></div>
            <br>
        </div>

        <div class="col-sm-4">
            <div id="chart-04"></div>
            <br>
        </div>

        <div class="col-sm-4">
            <div id="chart-05"></div>
            <br>
        </div>

    </div>
    <hr>
    <p class="small text-muted">Built by <a href="https://dmlab.cs.gsu.edu">DMLAB GSU</a></p>
</div>