<div class="left-panel">
    <div style="text-align:center;">
        <!--	<img src="/static/img/DM_lab.png" alt="Data Mining Lab GSU" style="width:80px;height:40px;">-->
        <h4>
            <span>
                <a class="logo-text" href="" data-hasqtip="3" aria-describedby="qtip-3"><b>ISD</b></a>
            </span>
        </h4>
    </div>
    <div>
        <form ng-submit="onSearch()">
            <div id="date-group" class="form-group">
                <div class="input-group">
                    <input id="dateInput" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" alt-input-formats="altInputFormats" ng-model="searchForm.date" ng-change="onDateChanged()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                </div>
            </div>

            <div id="time-group" class="form-group">

                <div uib-timepicker ng-model="searchForm.time" ng-change="changed()" hour-step="hstep"
                     minute-step="mstep" show-meridian="ismeridian"></div>
            </div>

            <div class="form-group" ng-hide="hideImageParameters">

                <label class="checkbox-inline">
                    <input
                            type="checkbox"
                            ng-init='isImageParametersSelected=false'
                            ng-model="isImageParametersSelected"
                            ng-checked="parameterChecked"
                            ng-click="onImageTypeChanged(isImageParametersSelected)">Image Parameters

                </label>
            </div>

            <div class="form-group" ng-hide="hideImageParameters">
                <select class="form-control"
                        ng-change="onParameterTypeChanged()"
                        ng-options="option.name for option in parameterInfo.availableOptions track by option.id"
                        ng-model="parameterInfo.selectedOption"></select>
            </div>

            <div class="form-group">
                <select class="form-control"
                        ng-change="onWavelengthChanged()"
                        ng-options="option.name for option in wavelengthInfo.availableOptions track by option.id"
                        ng-model="wavelengthInfo.selectedOption"></select>
            </div>
            <button type="submit" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-flash"></span> Search!
            </button>
        </form>
    </div>
    <div>
        <form>
            <div id="event-group" class="form-group">

                <h3><b>Events</b></h3>

                <div ng-repeat="event in eventNames">
                    <label class="checkbox-inline">
                        <input
                                type="checkbox"
                                name="Events"
                                value="{{event.code}}"
                                ng-checked="true"
                                ng-click="changeVisibleEventTypes(event)">{{event.name}}

                    </label>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div id="event-detection-group" class="form-group">

            <h3><b>Experimental Features</b></h3>

            <button ng-click="onClickARDetection()" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-flash"></span> Detect AR
            </button>

            <button class="btn btn-success btn-sm disabled">
                <span class="glyphicon glyphicon-flash"></span> Detect CH
            </button>
        </div>
    </div>

    <div>
        <p class="text-muted credit text-center">Developed by <a href="http://dmlab.cs.gsu.edu">DMLAB &copy; 2016</a>.
        </p>
    </div>
</div>