<div class="event-popup" ng-hide="shouldHidePopupWindow" ng-model="popupEvent">
    <div class="close-button ui-icon ui-icon-closethick" title="Close PopUp Window"></div>
    <div class="close-link" title="Close PopUp Window" ng-click="onClosePopupWindow()" >&times;</div>

    <h1>{{popupEvent.id}}</h1>
    <br>
    <span class="label-default">Start Time: {{popupEvent.starttime}}  </span>
    <br>
    <span class="label-default">End Time: {{popupEvent.endtime}} </span>
    <br>

    <button type="button" class="btn btn-default" ng-click="onGenerateVideoClicked()">Trajectory Video</button>

</div>