<div class="modal-header">
    <h3>High Resolution Interpolation Video</h3>
</div>
<div class="modal-body">
    <p uib-tooltip="A video in the time range of this event will be email to given address"><b>Selected Event ID: </b>{{event.id.split('/')[3]}}</p>
    <div class="row">
        <form name="generateVideoForm" novalidate>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': user.institute.$invalid }" >
                    <label class="control-label">Institute</label>
                    <input type="text" class="form-control" name="institute" ng-model="user.institute" required placeholder="e.g. GSU" />
                </div>
                <div class="form-group" ng-class="{ 'has-error': user.email.$invalid }" >
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" name="email" ng-model="user.email" required placeholder="e.g. example@gsu.edu" />
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Wavelength</label>
                        <select class="form-control"
                                ng-options="option.name for option in wavelengthInfo.availableOptions track by option.id"
                                ng-model="wavelengthInfo.selectedWavelength">

                        </select>
                    </div>

                <div class="form-group">
                    <label class="control-label">Speed</label>
                    <select class="form-control"
                            ng-options="option.name for option in speedInfo.availableOptions track by option.id"
                            ng-model="speedInfo.selectedSpeed">

                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="generateVideo()" ng-disabled="generateVideoForm.$invalid">Request Video</button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>