<div class="modal-header">
    <h3 class="modal-title">Selected Event ID: {{event.id.split('/')[3]}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <video width="250" controls>
                <source src="/static/video/AR131movie.mp4" type="video/mp4">
                <source src="/static/video/AR131movie.ogg" type="video/ogg">
            </video>
        </div>
    </div>
    <h3>Request High Resolution Video</h3>
    <div class="row">
        <form name="generateVideoForm" novalidate>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': userForm.name.$invalid }" >
                    <label class="control-label">Institute</label>
                    <input type="text" class="form-control" name="institute" ng-model="generateVideoInfo.institute" required placeholder="e.g. GSU" />
                </div>
                <div class="form-group" ng-class="{ 'has-error': generateVideoForm.email.$invalid }" >
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" name="email" ng-model="generateVideoInfo.email" required placeholder="e.g. example@gsu.edu" />
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Wavelength</label>
                        <select class="form-control"
                                ng-options="option.name for option in wavelengthInfo.availableOptions track by option.id"
                                ng-model="wavelengthInfo.selectedWavelength">

                        </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': generateVideoForm.cadence.$invalid }" >
                        <label class="control-label">Cadence</label>
                        <input type="number" min="0" max="500" class="form-control" name="cadance" ng-model="generateVideoInfo.cadence" required placeholder="e.g. 100 (in ms)" value="100"/>
                    </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="generateVideo()" ng-disabled="generateVideoForm.$invalid">Request Video</button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>